
<script setup>
import BaseCard from '../UI/BaseCard.vue';
import BaseButton from '../UI/BaseButton.vue';

import { ref, computed } from 'vue';

import { useStocksStore } from '@/stores/stocks';
import { useAuthStore } from '@/stores/auth';
import { storeToRefs } from 'pinia';

const authStore = useAuthStore();
// destruct states from store
// const { isAuthenticated } = storeToRefs(authStore);

const stocksStore = useStocksStore();
// destruct states from store
//const { portfolioNames, selectedPortfolioName } = storeToRefs(stocksStore);

const newPortfolioName = ref('');
const newStockName = ref('');
const alertMessage = ref('');

const refreshPortfolios = async () => {
  try {
    await stocksStore.fetchPortfolios();
  } catch (error) {
    alertMessage.value = error.message || "Something went wrong!";
    return;
  }

  alertMessage.value = "portfolios refreshed";

  await setTimeout(() => {
    alertMessage.value = "";
  }, 3000);
}

const addNewPortfolio = async() => {
  alertMessage.value = '';
  if (newPortfolioName.value === '') {
    alertMessage.value = "Portfolio Name can not be empty!";
    await setTimeout(() => {
      alertMessage.value = '';
    }, 3000);
    return;
  }
  if (!newPortfolioName.value.match(/^[A-Z,a-z,0-9]+$/) ) {
    alertMessage.value = "wrong portfolio name format; only accepting letters and numbers";
    await setTimeout(() => {
      alertMessage.value = '';
    }, 3000);
    return;
  }
  try {
    await stocksStore.addNewPortfolio(newPortfolioName.value);
  } catch (error) {
    alertMessage.value = error.message || "request failed";
    console.log(alertMessage.value);
    await setTimeout(() => {
      alertMessage.value = '';
    }, 3000);
    return;
  }
  stocksStore.selectedPortfolioName = newPortfolioName.value;
  
  alertMessage.value = 'portfolio added';
  newPortfolioName.value = '';
  await setTimeout(() => {
    alertMessage.value = '';
  }, 3000);
}


const deletePortfolio = async() => {
  alertMessage.value = '';
  if (stocksStore.selectedPortfolioName === '' || stocksStore.selectedPortfolioName === null) {
    alertMessage.value = "no portfolio is selected!"
    return
  }
  try {
    await stocksStore.deletePortfolio(stocksStore.selectedPortfolioName);
  } catch (error) {
    alertMessage.value  = error.message || "request failed";
    await setTimeout(() => {
      alertMessage.value  = '';
    }, 3000);
    return;
  }
  stocksStore.selectedPortfolioName = null;
  alertMessage.value = 'portfolio deleted';
  await setTimeout(() => {
    alertMessage.value  = '';
  }, 3000);
}


const addStock = async() => {
  
  alertMessage.value = '';
  if (stocksStore.selectedPortfolioName === '' || stocksStore.selectedPortfolioName === null) {
    alertMessage.value = "no portfolio is selected!";
    await setTimeout(() => {
      alertMessage.value  = '';
    }, 3000);
    return;
  }
  
  if (newStockName.value === '') {
    alertMessage.value = "stock name can not be empty!";
    await setTimeout(() => {
      alertMessage.value  = '';
    }, 3000);
    return;
  }

  if (!newStockName.value.match(/^[A-Z,a-z]+$/) ) {
    alertMessage.value = "wrong stock name format; only accepting letters";
    await setTimeout(() => {
      alertMessage.value  = '';
    }, 3000);
    return;
  }
  
  try {
    await stocksStore.addStock({
      portfolioName: stocksStore.selectedPortfolioName, 
      stockName: newStockName.value
    });
  } catch (error) {
    console.log(error.message);
    alertMessage.value = error.message || "request failed";
    await setTimeout(() => {
      alertMessage.value  = '';
    }, 3000);
    return;
  }
  alertMessage.value = 'stock added';
  newStockName.value = '';
  await setTimeout(() => {
    alertMessage.value = '';
  }, 3000);
}

</script>

<template>
  <BaseCard>
    <div class="header-div">
      <h4>Filter by Portofolio Name</h4>
    </div>
    <div class="filter-div">
      <div class="filter-option">
        <div v-for="portfolioName in stocksStore.portfolioNames" :key="portfolioName" >
          <input type="radio" 
            :id="portfolioName"
            :name="portfolioName" 
            :value="portfolioName" 
            v-model="stocksStore.selectedPortfolioName">
          <label :for="portfolioName">{{ portfolioName }}</label>
        </div>
      </div>
      <div class="action-div" v-if="authStore.isAuthenticated">
        <BaseButton @click="deletePortfolio">Delete</BaseButton>
        <BaseButton @click="refreshPortfolios">Refresh</BaseButton>
      </div>
    </div>
    <hr v-if="authStore.isAuthenticated">
    <div class="action-div" v-if="authStore.isAuthenticated">
      <div>
          <label for="new-portfolio">New Portfolio:</label>
          <input type="text" id="new-portfolio" v-model.trim="newPortfolioName" />
          <base-button @click="addNewPortfolio">Add Portfolio</base-button>
      </div>
      <div>
          <label for="new-stock" >New Stock:</label>
          <input type="text" id="new-stock" v-model.trim="newStockName" />
          <base-button @click="addStock">Add Stock</base-button>
      </div>
    </div>
    <p class="alert"> {{ alertMessage }} </p>
  </BaseCard>
</template>


<style scoped>

h4 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.filter-option.active label {
  font-weight: bold;
}

.filter-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-div {
  display: flex;
  justify-content: center;
}

label {
  margin-right: 0.5rem;
}

input {
  margin-right: 0.5rem;
}
</style>