<script setup>
import BaseCard from '../UI/BaseCard.vue';
import BaseButton from '../UI/BaseButton.vue';

import { ref, computed } from 'vue';

import { useAuthStore } from '@/stores/auth';
import { storeToRefs } from 'pinia';
import { useStocksStore } from '@/stores/stocks';

const authStore = useAuthStore();
//destruct states from store
//const { isAuthenticated } = storeToRefs(authStore);

const stocksStore = useStocksStore();
//destruct states from store
// const { selectedPortfolioName } = storeToRefs(stocksStore);

const alertMessage = ref('');

const props = defineProps({
  stock: {
    type: String,
    required: true,
  },
});

const deleteStock = async() => {
  try {
    await stocksStore.deleteStock({
      portfolioName: stocksStore.selectedPortfolioName,
      stockName: props.stock
    });
  } catch (error) {
    alertMessage.value = error.message || "request failed";
    await setTimeout(() => {
      alertMessage.value = '';
    }, 3000);
    return;
  }
}

// t=tickername
// ty : chart_type; c candle, l lines
// ta: technical analysis, 0  Candle - simple, 1  Candle - advanced
// p: period; d daily, m monthly, i5 intra day 5 minutes
// s: size;  m small, l large
// r: range; y1 one year

// weely chart does not support ta
// range is not supported in either daily or weekly charts

// examples
// 15 minutes 5-day chart:  
//     https://charts.finviz.com/chart.ashx?t=tsla&p=i15&ty=c&s=l
// daily with technical analysis
//     https://charts.finviz.com/chart.ashx?t=tsla&p=d&ty=c&s=l&ta=1
// daily with more technical indicators
//     https://charts.finviz.com/chart.ashx?t=%20aapl&&ty=c&ta=st_c,sch_200p,ema_20,ema_50,ema_200,rsi_b_14,macd_b_12_26_9&p=d&s=l
// weekly
//     https://charts.finviz.com/chart.ashx?t=tsla&p=w&ty=c&s=l

const stockImgIntra = computed(() => {
  return "https://charts.finviz.com/chart.ashx?t=" + props.stock + "&p=i15&ty=c&s=l";
});

const stockImgDaily = computed(() => {
  //return "https://www.finviz.com/chart.ashx?t=" + props.stock + "&ty=c&ta=1&p=d&s=l";
  return "https://charts.finviz.com/chart.ashx?t=" + props.stock + "&ta=st_c,sch_200p,ema_20,ema_50,ema_200,macd_b_12_26_9&p=d&s=l";
});

const stockImgWeekly = computed(() => {
  return "https://charts.finviz.com/chart.ashx?t=" + props.stock + "&ty=c&ta=0&p=w&s=l";
});



</script>

<template>
  <BaseCard>
    <div class="div-header">
        <BaseButton @click="deleteStock" class="outline" v-if="authStore.isAuthenticated">Delete</BaseButton>
    </div>
    <p v-if="alertMessage" class="error">{{ alertMessage }}</p>
    <div class="div-chart">
      <h3>15 Minutes</h3>
      <img :src="stockImgIntra" :alt="stock" />
      <hr>
      <h3>Daily</h3>
      <img :src="stockImgDaily" :alt="stock" />
      <hr>
      <h3>Weekly</h3>
      <img :src="stockImgWeekly" :alt="stock" />
    </div>
  </BaseCard>
</template>

<style scoped>
.div-header {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.div-chart {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  margin: 0.5rem auto;
  max-width: 60rem;
}

label {
  margin-right: 0.5rem;
}

input {
  margin-right: 0.5rem;
}

img {
  max-width: 100%;
  object-fit: contain;
}
</style>
