<script setup>
import { useAuthStore } from '@/stores/auth';
import { storeToRefs } from 'pinia';

const authStore = useAuthStore();
// destruct states from store
// const { isAuthenticated } = storeToRefs(authStore);
// destruct functions from store
// const { userLogout } = authStore;

</script>

<template>
    <div id="nav">
        <!-- RouterLink is the same as router-link  -->
        <RouterLink id="logo" to="/">MyApp</RouterLink>
        <RouterLink to="/stocks">Stocks</RouterLink>
        <RouterLink v-if="authStore.isAuthenticated" @click="authStore.userLogout" to="/auth">Logout</RouterLink>
        <RouterLink v-else to="/auth">Login</RouterLink>
    </div>
</template>

<style scoped>
#nav {
  margin: 0.5rem auto; /* rem is size relative to html root element size */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  height: 5rem;
  /*max-width: 48rem;*/
  font-size: 1.5rem;
  color: white;
  
  z-index: 2;
}
#nav a {
  display: inline-block;
  margin-right: 20px;
  color: white;
  opacity: 0.7;
  transition: 0.2 ease color;
}
#nav a.router-link-active {
  opacity: 1;
  border: 1px solid #f391e3;
}
#nav a:hover {
  opacity: 1;
}

#logo {
  font-weight: bold;
  font-size: 2rem;
  opacity: 1 !important;
  display: block;
}

a {
  text-decoration: none;
  font-weight: bold;
}

</style>
