<script setup>
import BaseCard from '@/components/UI/BaseCard.vue';
import BaseSpinner from '@/components/UI/BaseSpinner.vue';
import BaseButton from '@/components/UI/BaseButton.vue';

import { useAuthStore } from '@/stores/auth';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';
import { ref } from 'vue';


const router = useRouter();
const authStore = useAuthStore();

// destruct states from store
// const {user } = storeToRefs(authStore);

// destruct functions from store
// const { userLogin } = authStore

const email = ref('');
const password = ref('');
const isDataValid = ref(true);
const isLoading = ref(false);
const errorMessage = ref('');

const submitData = async() => {
  isDataValid.value = true;
  errorMessage.value = '';
  if (email.value === '' || !email.value.includes('@')) {
    isDataValid.value = false;
    errorMessage.value = "invalid email !"
    return;
  }
  if (password.value.length < 6) {
    isDataValid.value = false;
    errorMessage.value = "invalid password (minimium 4 chracters long) !"
    return;
  }
  isLoading.value = true;
  try {
    await authStore.userLogin({
      email: email.value,
      password: password.value,
    });
    const redirectURL = '/stocks';
    router.replace(redirectURL);
  } catch (error) {
      errorMessage.value = error.message || "Failed request";
  } finally {
      isLoading.value = false ;
  }
}

</script>

<template>
  <BaseCard>
    <div v-if="isLoading">
      <BaseSpinner></BaseSpinner>
    </div>
    <form @submit.prevent="submitData">
      <div class="form-control">
        <label for="email">E-Mail</label>
        <input type="email" id="email" v-model.trim="email" />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" v-model.trim="password" />
      </div>
      <p v-if="!isDataValid || errorMessage != ''" class="errors">{{ errorMessage }}</p>
      <BaseButton>Login</BaseButton>
    </form>
  </BaseCard>
</template>

<style scoped>

form {
  margin: 1rem;
  /* border: 1px solid #ccc;
  border-radius: 12px; */
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}


</style>
