<script setup>

import BaseCard from '@/components/UI/BaseCard.vue';
import { useAuthStore } from '@/stores/auth';
import { storeToRefs } from 'pinia';

const authStore = useAuthStore();
// destruct states from store
// const { user, isAuthenticated } = storeToRefs(authStore);

</script>

<template>
  <div class="home">
    <BaseCard>
      <h1>Hello {{ authStore.isAuthenticated ? authStore.user.userName : "anonymous user" }} !</h1>
    </BaseCard>
  </div>
</template>


<style>
.home {
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


</style>