<script setup>
import BaseButton from '@/components/UI/BaseButton.vue';
import StockCard from '@/components/stocks/StockCard.vue';
import StockFilter from '@/components/stocks/StockFilter.vue';
import { useStocksStore } from '@/stores/stocks';
import { storeToRefs } from 'pinia';
import { ref, computed, watch } from 'vue';

const stocksStore = useStocksStore();

// destruct portfolios from the store as a ref
// const {selectedPortfolio } = storeToRefs(stocksStore);

// destruct function from store
// const { fetchPortfolios } = stocksStore;

const alertMessage = ref('');

const refreshPortfolios = async () => {
  try {
    await stocksStore.fetchPortfolios();
  } catch (error) {
    alertMessage.value = error.message || "Something went wrong!";
    return;
  }

  alertMessage.value = "portfolios refreshed";

  await setTimeout(() => {
    alertMessage.value = "";
  }, 3000);
}

refreshPortfolios();

function dismissAlert() {
  alertMessage.value = '';
}


/* stocksStore.fetchPortfolios() is an async function, therefore portfolios is not populated right away
// need to use watch to minotor portfolios changes

watch (portfolios, async(newPortfolios, oldPortfolios) => {
  for (const portfolio of newPortfolios.value) {
    console.log("portfolio", portfolio);
  }
})
*/


</script>

<template>
  <div class="stocks">
    <div class="alert-div" v-if="alertMessage">
      <p class="alert" @click="dismissAlert"> {{ alertMessage }} </p>
      <BaseButton>Dismiss</BaseButton>
    </div>

    <StockFilter></StockFilter>

    <div v-if="stocksStore.selectedPortfolio">
      <StockCard v-for="stock in stocksStore.selectedPortfolio.stocks" :stock="stock"></StockCard>
    </div>

  </div>
</template>

<style scoped>



.stocks {
  padding: 1rem;
  margin: 1rem auto;
}

.alert-div {
  align-self: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
}

.alert {
  color: red;
  margin-right: 1rem;
}

</style>