<script setup>
import { RouterView } from 'vue-router'
import TopNavigation from './components/navigation/TopNavigation.vue';

import { useAuthStore } from '@/stores/auth';
const authStore = useAuthStore();
authStore.userAutoLogin();


</script>

<template>
  <header>
      <TopNavigation></TopNavigation>
  </header>

  <body>
    <RouterView />
  </body>

</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

header {
  /*
  a margin is the space around an element's border, 
  while padding is the space between an element's border and the element's content. 
  Put another way, the margin property controls the space outside an element, 
  and the padding property controls the space inside an element.
  */
  /* max-width: 50rem; */
  margin-top: 0;
  margin-bottom: 1em auto;
  /* rem is size relative to html root element size */
  height: 5rem;
  background-color: #3d008d;
  /* display default is inline; 
    flex: Displays an element as a block-level flex container
    inline-block: Displays an element as an inline-level block container
  */
  display: flex;
  /* horizontal alighment; default is flex-start
     flex-start: Items are positioned at the beginning of the container
     center: Items are positioned in the center of the container
     space-between: 	Items will have space between them
     space-evenly: Items will have equal space around them
  */
  justify-content: center;
  /* vertical alignment; default is stretch
     stretch: Items are stretched to fit the container
     center: Items are positioned at the center of the container
  */
  align-items: center;
  border-bottom: 5px solid #4e6c71;
}

</style>
