<script setup>
const props = defineProps({
  // mode used for button css class, choicess are:  flat, outline
  mode: {
    type: String,
    required: false,
    default: null
  },
});
</script>

<template>
  <button :class="mode">
    <slot>
    </slot>
  </button>
</template>

<style scoped>
button {
  text-decoration: none;
  padding: 0.25rem 1rem;
  font: inherit;
  background-color: #3a0061;
  border: 1px solid #3a0061;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 0.25rem;
  display: inline-block;
}

button:hover,
button:active {
  background-color: #270041;
  border-color: #270041;
}

.flat {
  background-color: transparent;
  color: #3a0061;
  border: none;
}

.outline {
  background-color: transparent;
  border-color: #270041;
  color: #270041;
}

.flat:hover,
.flat:active,
.outline:hover,
.outline:active {
  background-color: #edd2ff;
}

</style>